/* reset css */

* {
    min-width: 0;
    font: inherit;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img,
  video,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100dvh;
    font-family: Arial, sans-serif;
  }
  .resolucion{
    width: 99%;
    text-align: center;
  }

  h1,
  h2,
  h3 {
    text-wrap: balance;
  }
  
  p {
    text-wrap: pretty;
  }
  
  /* styles */
  /* TODO: Cambiar la fuente
  
  * {
    font-family: comic-sans;
  } */
  
  body {
    overflow: hidden; /* evita el desplazamiento vertical */

    background-color: #333333;
  }

  /* Estilos para escritorio */
  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-top: 6%;
    align-items: center;
    height: 100vh;
  }
  
  .container-letter {
    position: relative;
  }
  
  .cover {
    position: absolute;
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
    border-top: 12px solid #F9F9F9;
    border-bottom: 120px solid transparent;
  
    /*  */
    transform: rotatex (180deg); 
    transition: transform .75s;
    transform-origin: top;
  }
  
  .paper {
    position: absolute;
    padding: 1.5rem;
    line-height: 1.5rem;
    right: 5px;
    /*  */
    z-index: -1;
    background:  white;
    width: 430px;
    height: 220px;
  
    transition: all .75s;
  }
  
  .letter {
    border-left: 220px solid #E6BEFF;
    border-right: 220px solid #E6BEFF;
    border-top: 100px solid transparent;
    border-bottom: 140px solid #C7B8EA;
}
  
    .carta{
    border: 1px solid #000000; /* Borde de 1px, negro y solido*/
}
  .options {
    display: flex;
    gap: 5rem;
  
    & button {
      color: #ff3234;
      font-weight: 600;
      border-radius: 3px;
      background: #fad7df;
      padding: 0.5rem 1rem;
      border: 1px solid #fe3334;
      cursor: pointer;
    }
  
    & button:hover {
      background: #ff989e;
      color: white;
    }
  }
  
  .open-cover {
    transform: rotatex(180deg);
  }
  
  .open-paper {
    animation: openPaper .5s forwards;
  }
  
  @keyframes openPaper {
    0% {
      top: 0;
    }
    100% {
      top: -190px;
    }
  }
  
  .close-paper {
    animation: closePaper .5s forwards;
  }
  
  @keyframes closePaper {
    0% {
      top: -120px;
    }
    100% {
      top: 0;
    }
  }
  
  
  .heart {
    display: none;
    position: absolute;
    top: 25%;
    left: 46.5%;
    margin: auto;
    font-size: 3rem;
  
    color: #fe3334;
  
    animation: crecer 1s forwards ;
  }
  
  @keyframes crecer {
    0% {
      scale: 1;
      opacity: 1;
    }
    100% {
      scale: 3;
      opacity: 0;
  
    }
  } 

    /* Media queries */
  
  /* Pantallas pequeñas (móviles) */
  @media only screen and (max-width: 2px) {

    
* {
  min-width: 0;
  font: inherit;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 10%;
}

body {
  margin: 0;
  min-height: 10dvh;
  font-family: Arial, sans-serif;
}
.resolucion{
  width: 99%;
  text-align: center;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* styles */
/* TODO: Cambiar la fuente

* {
  font-family: comic-sans;
} */

body {
  overflow: hidden; /* evita el desplazamiento vertical */

  background-color: #333333;
}

    main {
      display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    margin-top: 2px;
    align-items: center;
    height: 100vh;
    }
    .container-letter {
      width: 10%;
    }

  }
  .cover {
    position: absolute;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-top: 150px solid #F9F9F9;
    border-bottom: 100px solid transparent;
  
    /*  */
    transform: rotatex (180deg); 
    transition: transform .75s;
    transform-origin: top;
  }
  
  .paper {
    position: absolute;
    padding: 1.2rem;
    line-height: 1rem;
    right: px;
    /*  */
    z-index: -1;
    background: white;
    width: 315px;
    height: 230px;
  
    transition: all .75s;
  }
  
  .letter {
    border-left: 170px solid #a1c9f2;
    border-right: 170px solid #A1C9F2;
    border-top: 80px solid transparent;
    border-bottom: 170px solid #E5E5EA;
}
  
    .carta{
    border: 1px solid #000000; /* Borde de 1px, negro y solido*/
}
  .options {
    display: flex;
    gap: 3rem;
  
    & button {
      color: #121212;
      font-weight: 600;
      border-radius: 3px;
      background: #ffffffc8;
      padding: 0.5rem 1rem;
      border: 1px solid #fe3334;
      cursor: pointer;
    }
  
    & button:hover {
      background: #0c0c0c;
      color: white;
    }
  }
  
  .open-cover {
    transform: rotatex(180deg);
  }
  
  .open-paper {
    animation: openPaper .5s forwards;
  }
  
  @keyframes openPaper {
    0% {
      top: 0;
    }
    100% {
      top: -200px;
    }
  }
  
  .close-paper {
    animation: closePaper .5s forwards;
  }
  
  @keyframes closePaper {
    0% {
      top: -120px;
    }
    100% {
      top: 0;
    }
  }
  
  
  .heart {
    display: none;
    position: absolute;
    top: 25%;
    left: 46.5%;
    margin: auto;
    font-size: 3rem;
  
    color: #fe3334;
  
    animation: crecer 1s forwards ;
  }
  
  @keyframes crecer {
    0% {
      scale: 1;
      opacity: 1;
    }
    100% {
      scale: 3;
      opacity: 0;
  
    }
  } 
